.baseCont{
  width: 90vw;
  height: 100vh;
  margin: auto;
  padding: 1.5vw;
}
.sunny_bg::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('../images/background/sunny_bg.jpg');
  background-size: cover;
  opacity: 0.5;
}
.rain_bg::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('../images/background/rain_bg.jpg');
  background-size: cover;
  opacity: 0.5;
}
.snow_bg::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('../images/background/snow_bg.jpg');
  background-size: cover;
  opacity: 0.5;
  background-size:100% 100%;
}
.mist_bg::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('../images/background/mist_bg.jpg');
  background-size: cover;
  opacity: 0.5;
}
.hailstorm_bg::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('../images/background/hailstorm_bg.jpg');
  background-size: 100% 100%;
  opacity: 0.5;
}
.clear_night_bg::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('../images/background/clear_night_bg.jpg');
  background-size: cover;
  opacity: 0.5;
  background-size: 100% 100%;
}
.cloudy_bg::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('../images/background/cloudy_bg.jpg');
  background-size: cover;
  opacity: 0.5;
  background-size:100% 100%;
}

.mainCard{
  height: 100%;
  border-radius: 5vh;
  box-shadow: 1vh 1vh 8vh #7070708f;
  display: flex;
  backdrop-filter: blur(3px);
  box-shadow: -10px -2px 30px rgb(0 0 0/50%), 8px 12px 32px rgb(255 255 255/70%);
}
.leftCont{
  width: 30%;
  border-top-left-radius: 5vh;
  border-bottom-left-radius: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.rightCont{
  border-left: 1px solid rgba(0,0,0,0.15);
  width: 70%;
  display: flex;
  justify-content: center;
}

*{
  font-weight: 600;
}

.errMsg{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  top: 1%;
  background-color: rgb(253 0 0/0.6) !important;
}