.pastContainer{
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  flex-direction: column;
}

.smallWeatherImg{
  margin: 0px auto;
  width: 80%;
  height: 60%;
}

.pastDay{
  margin-bottom: 0;
  text-align: center;
}

.pastMsg{
  text-align: center;
  margin-bottom: 0;
}

.futureContainer{
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;

}

.imgAreaFuture {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.futureHeading{
  padding-top: 3%;
}

.futureMsg {
  font-size: small;
}
.futureMsgcont{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.smallWeatherImgFuture{
  width: 100%;
}